<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cc.grum.base.backendspringboot.mapper.BaseMapper">

	<!-- 기본 정보 조회 -->
	<select id="selectNow" resultType="CamelMap" >
	    /* BaseMapper.xml - selectNow */
        SELECT  now() AS cur_date_time, 'select now date time' AS select_now
    </select>


</mapper>
